.navbar{
    #navbarNav{
        justify-content: end;
    }
}

/* Add this to your SCSS file */

.nav-tabs {
    .nav-item {
        position: relative;
        width: 16.66%;
    }

    .separator {
        position: absolute;
        top: 50%;
        right: 0;
        height: 50%;
        width: 1px;
        background-color: #ddd;
        /* Color of the separator */
        transform: translateY(-50%);
        /* Center the separator vertically */
    }

    .nav-link.active {
        background: #a9d18e !important;
    }

    .nav-link {
        background: #afabab;
        color: #ffffff !important;
        width: 100%;
        text-align: center;
        font-weight: bolder;
        border-radius: unset !important;
        font-size: 2vw;
        text-align: center;
    }

    .nav-link:hover {
        background-color:#afabab;
    }
}

.table{
    border: solid 1px #5b9bd5 !important;
    th{
        background-color:#5b9bd5 !important;
        color: #ffffff !important;
        border-width: 2px;
        border-style: solid;
    }
}

.btn-primary{
    background-color: #8faadc !important;
    border: solid 1px #8faadc !important;
}


@media print {
    body * {
        visibility: hidden;
    }

    #salesForm,
    #salesForm * {
        visibility: visible;
    }

    #salesForm {
        position: absolute;
        left: 0;
        top: 0;
    }

    #printSaleTitle, #printSaleId, #printCompanyId, .printFooterText {
        display: block !important;
    }

    #insertSaleBtn {
        display: none; /* Hide the "Insert sale item" button */
    }

    /* Additional styles to hide specific elements */
    #salesForm #insertSaleBtn,
    #salesForm #salesFormSubmit,
    #salesForm #salesPrintBtn,
    #salesForm .buttonRows {
      display: none;
    }
}
