.navbar{
    #navbarNav{
        justify-content: end;
    }
}

/* Add this to your SCSS file */

.nav-tabs {
    .nav-item {
        position: relative;
        width: 20%;
    }

    .separator {
        position: absolute;
        top: 50%;
        right: 0;
        height: 50%;
        width: 1px;
        background-color: #ddd;
        /* Color of the separator */
        transform: translateY(-50%);
        /* Center the separator vertically */
    }

    .nav-link.active {
        background: #a9d18e !important;
    }

    .nav-link {
        background: #afabab;
        color: #ffffff !important;
        width: 100%;
        text-align: center;
        font-weight: bolder;
        border-radius: unset !important;
        font-size: 2vw;
    }

    .nav-link:hover {
        background-color:#afabab;
    }
}

.table{
    border: solid 1px #5b9bd5 !important;
    th{
        background-color:#5b9bd5 !important;
        color: #ffffff !important;
        border-width: 2px;
        border-style: solid;
    }
}

.btn-primary{
    background-color: #8faadc !important;
    border: solid 1px #8faadc !important;
}